@charset "UTF-8";
/*переменные*/
/*основные настройки*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f5fafe;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.icon {
  width: 16px;
  height: 16px;
}

/*секции*/
/*header*/
.header {
  background-color: #fff;
}
.header-top {
  padding: 40px 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  padding: 30px 0;
  background-color: #0A223D;
}
.header-list-item-link {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-block {
  display: flex;
  align-items: center;
}

.logotype {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}
.logotype_color {
  color: #EC1F46;
}

.form-search {
  margin-left: 100px;
  display: flex;
  width: 350px;
  align-items: center;
  background-color: #F5FAFE;
  border-radius: 6px;
  overflow: hidden;
}
.form-search__input {
  width: 100%;
  padding: 12px 16px 12px 23px;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #333333;
  background-color: #F5FAFE;
  border: none;
  outline: none;
}
.form-search__button {
  height: 40px;
  padding: 12px 25px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background-color: #EC1F46;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

.user {
  display: inline-flex;
  align-items: center;
}
.user__avatar {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #F2994A;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

/*menu toogle*/
.menu-button {
  position: relative;
  display: none;
  width: 16px;
  height: 11px;
  cursor: pointer;
}

.menu-button__toggle {
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: #333333;
}
.menu-button__toggle:before {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  right: 0;
  width: 16px;
  height: 1px;
  background-color: #333333;
}
.menu-button__toggle:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: -4px;
  width: 16px;
  height: 1px;
  background-color: #333333;
}

/*hotel header*/
.hotel__header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-info__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotel__title {
  display: flex;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  text-transform: uppercase;
}

.rating {
  width: 100%;
}

.color-badge {
  margin-left: 14px;
  padding: 5px 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 3px;
}

.hotel__description {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.user-rating {
  padding: 9px 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #EC1F46;
  border-radius: 4px;
}
.user-rating__text {
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
}

.score-real {
  position: relative;
  margin-right: 5px;
  font-size: 14px;
  line-height: 18px;
}
.score-real::after {
  content: "/";
  display: block;
  position: absolute;
  top: 0;
  right: -7px;
}

.score-max {
  font-size: 10px;
  line-height: 13px;
}

/*hotel center*/
.hotel__center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.hotel__img-wrapper {
  position: relative;
  max-width: 728px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 0;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-slide__item:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 2;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
  display: block;
  width: 10px;
  height: 17.5px;
  background: no-repeat center/contain url("../img/icons/arrow-prev.svg");
}

.swiper-button-next::after {
  background-image: url("../img/icons/arrow-next.svg");
}

.hotel-img {
  position: relative;
  max-width: 100%;
}

.hotel__details-wrapper {
  display: flex;
  flex-direction: column;
}

.hotel__details {
  max-width: 350px;
  max-height: 210px;
  width: 100%;
  margin-right: 0;
  padding: 26px 22px;
  background: #0A223D;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-text, .hotel-price {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

.hotel-price {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.details-breadcrumbs__text {
  margin-right: 6px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.details-breadcrumbs__text:first-child {
  position: relative;
}
.details-breadcrumbs__text:first-child::after {
  content: "/";
  position: absolute;
  display: block;
  top: 0;
  right: -4px;
}

.details-info__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel__item {
  display: flex;
  flex-direction: column;
}

.hotel__add-info {
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
.hotel__add-info:last-child {
  margin-bottom: 0;
}
.hotel__add-info svg {
  margin-right: 17px;
}

.hotel__call-click {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.click-on-text, .click-on-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.click-on-number {
  display: inline-flex;
  align-items: center;
}
.click-on-number svg {
  margin-right: 10px;
}

.details-button {
  width: 100%;
  margin-top: 17px;
  padding: 13px 84px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotel__map {
  margin-top: 27px;
  margin-left: 0;
  max-width: 347px;
  max-height: 213px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.otherpack {
  padding: 40px 0 70px 0;
}
.otherpack__title {
  margin-bottom: 65px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.otherpack__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: 500px;
  gap: 30px;
  justify-content: center;
}
.otherpack-card {
  width: 350px;
  background-color: #0A223D;
  border-radius: 8px;
  overflow: hidden;
}
.otherpack-card__img {
  height: 250px;
  overflow: hidden;
}
.otherpack-card__title {
  margin-top: 6px;
  margin-bottom: 23px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
.otherpack-card__desc-container {
  padding: 30px 26px 26px 26px;
}
.otherpack-card__desc {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.otherpack-card__text {
  margin-bottom: 34px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.otherpack-card-first {
  width: 730px;
  display: grid;
  grid-column: 1/span 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}
.otherpack-card__img-first {
  height: inherit;
}
.otherpack-card__first-img {
  height: 100%;
}
.otherpack-card__first-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.otherpack__desc-item {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.otherpack-img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.otherpack-icon {
  margin-right: 14px;
  width: 14px;
  height: 14px;
}
.otherpack__booking-info {
  display: grid;
  grid-template-rows: 20px 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.otherpack__old-price {
  position: relative;
  grid-column: 1/span 2;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.otherpack__old-price::after {
  content: "";
  position: absolute;
  display: block;
  width: 49px;
  height: 1px;
  background-color: #fff;
  top: 51%;
  left: 0;
}
.otherpack__current-price {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
.otherpack__button {
  padding: 10px 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background: #EC1F46;
  border-radius: 4px;
  border: none;
}

/*newsletter*/
.newsletter {
  position: relative;
  margin: 70px 0;
  padding: 92px 0;
  background-image: url("../img/newsletter.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.newsletter::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0A223D;
  opacity: 0.5;
}
.newsletter__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.newsletter-desc {
  display: inline-flex;
}
.newsletter__title {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newsletter-form__input {
  font-weight: 300;
  font-size: 14px;
}
.newsletter-form__button {
  height: auto;
  padding: 20px 25px;
}

.clarification {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
}

.reviews {
  padding: 40px 0 70px 0;
}
.reviews__title {
  margin-bottom: 70px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.reviews-slide__item {
  max-width: 731px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 0 97px 30px 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
}
.reviews-slide__user-info {
  margin-top: -45px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reviews-slide__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #C4C4C4;
}
.reviews-slide__username {
  display: inline-block;
  margin: 10px 0;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
}
.reviews-slide__date {
  display: inline-block;
  margin-bottom: 6px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
}
.reviews-slide__text {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  color: #333333;
}

.swiper-button-reviews-prev::after {
  background: no-repeat center/contain url("../img/icons/arrow-prev-reviews.svg");
}

.swiper-button-reviews-next::after {
  background: no-repeat center/contain url("../img/icons/arrow-next-reviews.svg");
}

.activities {
  padding: 60px 0 98px 0;
}
.activities__title {
  margin-bottom: 57px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.activities__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.activities-card {
  position: relative;
  width: 255px;
  height: 255px;
  margin: 0 30px 30px 0;
  border-radius: 6px;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  overflow: hidden;
}
.activities-card__bg-img {
  position: relative;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: #C4C4C4;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.activities-card__content {
  position: absolute;
  left: 26px;
  right: 26px;
  bottom: 24px;
}
.activities-card__text {
  margin-bottom: 18px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.activities-card__button {
  display: inline-block;
  padding: 7px 22px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background: #EC1F46;
  border-radius: 4px;
}

/*дополнительная навигация*/
/*breadcrumbs*/
.breadcrumb {
  padding: 0 20px;
}

.breadcrumb-secondary {
  padding: 18px 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 12px;
}
.breadcrumbs-item::after {
  content: "/";
  position: absolute;
  display: block;
  top: 0;
  right: -9px;
}
.breadcrumbs-item:last-child::after {
  content: "";
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 13px;
  color: #0A223D;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 18px 0;
}
.breadcrumb-list__item {
  font-family: "Mulish", sans-serif;
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin: 0 4px;
}
.breadcrumb-list__link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

/*медиа запросы*/
@media (max-width: 1200px) {
  .container {
    max-width: 910px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 760px;
    padding: 0 20px;
  }

  .header {
    padding: 0;
  }

  .header-top {
    padding: 30px 0;
  }

  .logotype {
    font-size: 18px;
    line-height: 18px;
  }

  .form-search {
    width: 340px;
    margin-left: 47px;
  }

  .header-list-item-link {
    font-size: 12px;
    line-height: 15px;
  }

  .header-menu {
    padding: 22px 0;
  }

  .hotel-info {
    width: auto;
  }

  .hotel__center {
    flex-direction: column;
  }

  .hotel__img-wrapper {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .hotel__details-wrapper {
    flex-direction: row;
  }

  .hotel__map {
    margin-top: 0;
    margin-left: 20px;
  }

  .reviews-slide__item {
    max-width: 579px;
    padding: 0 70px 30px 70px;
  }

  .activities-card {
    width: 339px;
    margin: 0 20px 20px 0;
  }

  .otherpack__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
  }

  .otherpack-card {
    width: 300px;
  }

  .otherpack-card-first {
    width: 680px;
  }
}
@media (max-width: 768px) {
  .header__form-search, .user, .header-menu {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .header-menu {
    display: none;
  }

  .user-rating {
    display: block;
  }

  .hotel__img-wrapper {
    margin: 0 auto 20px auto;
    max-width: 700px;
  }

  .hotel__details-wrapper {
    flex-direction: column;
    align-self: center;
  }

  .hotel__details {
    max-width: 340px;
  }

  .hotel__map {
    max-width: 340px;
    margin-top: 20px;
    margin-left: 0;
  }

  .newsletter__wrapper {
    flex-direction: column;
  }

  .newsletter-form {
    margin-left: 0;
    margin-top: 37px;
    max-width: 280px;
  }

  .reviews {
    padding: 40px 0 60px 0;
  }
  .reviews__title {
    margin-bottom: 50px;
    font-size: 30px;
  }
  .reviews-slide__item {
    padding: 0 62px 30px 62px;
  }

  .activities {
    padding: 60px 0 70px 0;
  }
  .activities__card-wrapper {
    margin-right: 0;
    justify-content: center;
  }
  .activities-card {
    max-width: 300px;
    margin: 0 20px 20px 0;
  }
}
@media (max-width: 576px) {
  .user-rating {
    display: none;
  }

  .hotel-info {
    width: 100%;
  }

  .hotel-info__wrapper {
    justify-content: space-between;
  }

  .hotel-rating {
    width: auto;
  }

  .hotel__title {
    width: 100%;
  }

  .color-badge {
    margin-bottom: 10px;
    margin-left: 0;
    order: -1;
  }

  .hotel__img-wrapper, .hotel__details, .hotel__map {
    max-width: 279px;
  }

  .details-button {
    padding: 13px 0px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 280px;
    padding: 0;
  }

  .logotype {
    font-size: 14px;
    line-height: 13px;
  }

  .breadcrumbs-link {
    font-size: 10px;
  }

  .hotel__title {
    font-size: 24px;
    line-height: 30px;
  }

  .newsletter__title {
    font-size: 30px;
  }

  .clarification {
    font-size: 20px;
  }

  .newsletter-form {
    width: 100%;
    max-width: 280px;
  }

  .reviews__title {
    margin-bottom: 42px;
    font-size: 18px;
  }

  .reviews-slide__item {
    max-width: 281px;
    padding: 0 31px 30px 31px;
  }

  .swiper-button-reviews-prev, .swiper-button-reviews-next {
    top: 45px;
  }

  .activities {
    padding: 40px 0 60px 0;
  }
  .activities__title {
    margin-bottom: 36px;
    font-size: 18px;
  }
  .activities-card {
    margin-right: 0;
    max-width: 280px;
  }
}/*# sourceMappingURL=style.css.map */