@media (max-width: 1200px)
    .container
        max-width: 910px
@media (max-width: 992px)
    .container
        max-width: 700px
    .header
        padding: 0
    .header-top
        padding: 30px 0
    
    .logotype
        font-size: 18px
        line-height: 18px

    .form-search
        width: 340px
        margin-left: 47px
    
    .header-list-item-link
        font-size: 12px
        line-height: 15px

    .header-menu
        padding: 22px 0

    .hotel__center
        flex-direction: column

    .hotel__img-wrapper
        margin-right: 0
        margin-bottom: 30px

    .hotel__details-wrapper
        flex-direction: row
    
    .hotel__map
        margin-top: 0
        margin-left: 20px
    
@media (max-width: 768px)
    .header, .hotel
        padding: 0 20px
    .form-search, .user
        display: none
    .menu-button
        display: block
    .header-menu
        display: none
    .user-rating
        display: block
    .hotel__img-wrapper
        margin-right: 0
        margin-bottom: 30px
        max-width: 700px
    .hotel__details-wrapper
        flex-direction: column
        align-self: center
    .hotel__map
        margin-top: 20px
        margin-left: 0
@media (max-width: 576px)
    .user-rating
        display: none    
@media (max-width: 320px)
    .container
        max-width: 280px
    .form-search, .user, .header-menu
        display: none
    .logotype
        font-size: 14px
        line-height: 13px
    .breadcrumbs-link
        font-size: 10px
    .hotel__title
        font-size: 24px
        line-height: 30px