@media (max-width: 768px)
    .container
        max-width: 700px

    .logotype
        font-size: 18px
        line-height: 18px

    .form-search
        margin-left: 47px

    .header-list-item-link
        font-size: 12px
        line-height: 15px
    
    .menu-button
        display: none

    .about__center
        flex-direction: column
    
    .about__img-wrapper
        margin-right: 0
        margin-bottom: 30px
        max-width: 700px

    .about__details-wrapper
        flex-direction: row
        align-items: center

    .about__details
        margin-right: 20px
    
    .about__map
        margin-top: 0
    
@media (max-width: 320px)
    .container
        max-width: 280px
    
    .form-search, .user, .header-menu
        display: none
    
    .menu-button
        display: block