.footer
    padding: 108px 0 46px 0
    &__wrapper
    &__title
        font-family: 'Luckiest Guy', cursive
        font-weight: 400
        font-size: 64px
        line-height: 64px
        color: #fff